@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Fraunces", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}


/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */